form{
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left:10px;
  padding-right:10px;

  label{
    font-size:1.125rem;
    font-weight:400;
    display:inline-block;
  }

  input,select{
    @include input__reset();
  }

  textarea{
    @include textarea_reset();
  }

  input[type=time]::-webkit-inner-spin-button,
  input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;

  }
  input[type="time"]{
  -webkit-appearance: none;
  -moz-appearance: none;
}

  textarea{
    height:100px;
    resize:none;
  }

  input[type="submit"]{
    @include button__bg();
  }

  input[type="button"]{
    @include button__bg();
  }



  .button__back{
    @include button__bg($back:#0C5EB0);
  }




  .is-required:after{
    content: '*';
    padding-left: 3px;
    color: #ed403a;
  }

  .redBorder{
    border:1px solid #ed403a;
  }



}


#timetableForm{
  max-width:800px;
}


.errorSignUp{
  max-width: 350px;
  margin: 0 auto;
  background: beige;
  padding: 10px;
  margin-top: 20px;

  p{
    font-size:1.2em;
  }
}

.errorLogIn{
  max-width: 350px;
  margin: 0 auto;
  background: beige;
  padding: 10px;
  margin-top: 20px;

  p{
    font-size:1.2em;
  }
}




.no__content{
  max-width:800px;
  margin:0 auto;
  text-align:center;
  color: #ed403a;
  text-decoration: underline;
  letter-spacing: 0.1em;
  padding-top:125px;
}
